:root {
  --primary-red: #7d0a0a;
  --secondary-red: #bf3131;
  --primary-grey: #7f7f7f;
  --secondary-grey: #f2f2f2;
  --gold: #ead196;
  --button-regular: #eeeeee;
  --button-hover: #d6d6d6;
  --button-active: #bebebe;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--secondary-grey);
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  /* footer support */
  margin-bottom: 100px;
}

button {
  border: none;
  border-radius: 10px;
  padding: 10px;

  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;

  background-color: var(--button-regular);
}

button:hover {
  background-color: var(--button-hover);
}

button:active {
  background-color: var(--button-active);
}

/* header */

.header {
  background-color: var(--secondary-red);
  color: var(--gold);
  font-size: 2em;
}

.header div {
  /* max-width: 1000px; */
  margin: 0 auto;
  padding: 20px;

  display: flex;
  justify-content: center;
}

/* body */

.content {
  padding: 40px;
  overflow-x: auto;
}

.container-wrapper {
  display: flex;
  justify-content: center;
  width: max-content;
  min-width: 100%;
}

.container {
  padding: 20px;
  width: fit-content;
  min-width: fit-content;

  background-color: var(--primary-red);
  border-radius: 50px;
  box-shadow: 10px 5px 5px var(--primary-grey);

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttons-container {
  margin: 20px 10px;
  flex: 0 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.tool-button.active {
  background-color: var(--gold);
}

.drawScreen {
  width: 640px;
  height: 640px;
  margin: 40px;
  border: 2px solid #000000;
  flex: 0 0 auto;

  display: flex;
  flex-wrap: wrap;
}

.pixel {
  background-color: rgb(255, 255, 255);
}

.show-grid {
  border: 1px solid black;
}

/* footer */

.footer {
  background-color: var(--secondary-red);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 10px;
  width: 100%;
  height: 100px;

  position: absolute;
  bottom: 0;
  left: 0;
}

.copyright {
  font-size: 1.2em;
}

a {
  color: var(--gold);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
